<h1>BinaryMe</h1>

<p>
  <%= flash[:notice] %>
</p>

<% if logged_in? %>
  <p>
    <%= link_to 'Log Out', logout_path %>
  </p>
<% else %>
  <p>
    <%= link_to 'Log in', login_path %> | <%= link_to 'Sign Up', signup_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Submit a Question', new_question_path %>
</p>

<% if logged_in? && current_user.curator? %>
  <p>
    <h3>Curator Tools</h3>
    <p>
      <%= link_to 'Add a Question', new_question_path %> | <%= link_to 'View All Questions', questions_path %>
    </p>
  </p>
<% end %>